{% extends 'base.html' %}
{% block content %}

<!-- Category posts -->
{% block category_title %}
    <h3 class="text-uppercase text-warning">Category: {{category.category_name}}</h3>
{% endblock category_title %}
    
<div class="row mb-2">
    {% if posts %}
    {% for post in posts %}
    <div class="col-md-6">
        <div class="card border-0">
            <div class="card-body">
                <h3><a href="{% url 'single_blog' post.slug %}" class="text-dark">{{post.title}}</a></h3>
                <small class="mb-1 text-muted"> {{post.created_at | timesince}} ago | {{post.author}}</small>
                <p class="card-text">{{post.short_description | truncatewords:25}}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    {% else %}
        {% block null_result %}   
            <div class="col-12">
                <p>No posts found in this category.</p>
                <a href="{% url 'home' %}" class="btn btn-secondary">Back to home</a>
            </div>
        {% endblock null_result %}
    {% endif %}
    
</div>
</div>
{% endblock content %}